@charset "UTF-8";
.list_ul{
	border: 1px solid #c7c7c7;
	border-radius: 5px;
	width: 50%;
	height: 50px;
	list-style: none;
	margin:0 auto;
	margin-top: 20%;
	padding: 0px;
	box-shadow: 0 0 13px rgba(33,33,33,0.3);
	box-sizing: border-box;
}
.list_ul li{
	width: 100%;
	height: 50%;
}
.list_li_head{
	border-bottom: 1px solid #dddddd;
	font-weight: bold;
	background-color: rgba(60,60,60,0.1);
}
.list_ul li div{
	width: 49%;
	height: 100%;
	display: inline-block;
	text-align: center;
}
.list_ul li div:first-child {
	border-right: 1px solid #dddddd;
}